<nav aria-label="Navegação de página">
    <ul class="pagination mb-0 flex-wrap justify-content-center">
        {% if logs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&items_per_page={{ items_per_page }}{% if status_filter %}&status={{ status_filter }}{% endif %}">Primeira</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ logs.previous_page_number }}&items_per_page={{ items_per_page }}{% if status_filter %}&status={{ status_filter }}{% endif %}">Anterior</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Primeira</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
        {% endif %}

        {% for i in logs.paginator.page_range %}
            {% if logs.paginator.num_pages <= 10 or i == 1 or i == logs.paginator.num_pages or i >= logs.number|add:"-2" and i <= logs.number|add:"2" %}
                {% if logs.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&items_per_page={{ items_per_page }}{% if status_filter %}&status={{ status_filter }}{% endif %}">{{ i }}</a>
                    </li>
                {% endif %}
            {% elif i == logs.number|add:"-3" or i == logs.number|add:"3" %}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if logs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ logs.next_page_number }}&items_per_page={{ items_per_page }}{% if status_filter %}&status={{ status_filter }}{% endif %}">Próxima</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ logs.paginator.num_pages }}&items_per_page={{ items_per_page }}{% if status_filter %}&status={{ status_filter }}{% endif %}">Última</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Próxima</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Última</span>
            </li>
        {% endif %}
    </ul>
</nav>
