.white_belt { color: #646464; }
.gray_belt { color: #646464; }
.yellow_belt { color: #FFD200; }
.orange_belt { color: #F15A29; }
.green_belt{ color: #006838; }
.blue_belt { color: #1C75BC; }
.purple_belt { color: #9B00DB; }
.brown_belt { color: #603913; }
.black_belt { color: #FF3131; }