* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-home {
    width: 50px;
    height: auto;
}

.action-buttons {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

tr:hover .action-buttons {
    visibility: visible;
    opacity: 1;
}