{% extends "base.html" %}
{% block title %}Página Inicial{% endblock %}

{% block content %}

    <h1>Painel Principal</h1>
    {% if request.session.user_access_group == 'STU' %}
        <p>Seu nível de acesso é: Aluno
    {% elif request.session.user_access_group == 'PRO' %}
        <p>Seu nível de acesso é: Professor
    {% elif request.session.user_access_group == 'ADM' %}
        <p>Seu nível de acesso é: Administrador
    {% endif %}

<div class="container row justify-content-center gap-3 mt-4">

    <!-- [Aprovação de Presenças dos Alunos] -->
    <div class="card text-bg-warning text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4><i class="bi bi-calendar-check-fill"></i> <br> Presenças de Alunos</h4>
        </div>
        <div class="card-body text-center">
            <p class="card-title">Aguardando aprovação... <br><h1>19</h1>
        </div>
    </div>


    <!-- [Total de Alunos Ativos] -->
    <div class="card text-bg-primary text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4>
                <i class="bi bi-people-fill"></i> <br>
                ALUNOS
            </h4>
        </div>
        <div class="card-body text-center">
            <p class="card-title">Alunos cadastrados<br><h1>{{ students.count }}</h1>
        </div>
    </div>


    <!-- [Total de Professores] -->
    <div class="card text-bg-info text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4><i class="bi bi-mortarboard-fill"></i> <br> PROFESSORES</h4>
        </div>
        <div class="card-body text-center">
            <p class="card-title">Professores cadastrados <br><h1>{{ professors.count }}</h1>
        </div>
    </div>


    <!-- [Aniversariantes do Mês] -->
    <div class="card text-bg-success text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4>
                <i class="bi bi-cake-fill"></i> <br>
                Aniversariantes
            </h4>
        </div>
        <div class="card-body text-center">
            <p class="card-title">
                Aniversariantes em {% now "F" %} <br>
                <h1>nenhum</h1>
            </p>
        </div>
    </div>


<!-- [Turmas Ativas] -->
    <div class="card text-bg-secondary text-center mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <h4>
                <i class="bi bi-patch-check-fill"></i> <br>
                Turmas Ativas
            </h4>
        </div>
        <div class="card-body text-center">
            <p class="card-title">
                Aulas criadas<br>
                <h1>3</h1>
            </p>
        </div>
    </div>

</div>
{% endblock %}