{% extends "academia/base.html" %}
{% block title %}Reset de Senha{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Crie uma Nova Senha</h3>
            {% if validlink %}
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Salvar Nova Senha</button>
              </form>
            {% else %}
              <p class="text-danger">Este link é inválido, possivelmente porque já foi usado. Por favor, refaça o processo de nova senha.</p>
              <div class="text-center">
                <a href="{% url 'password_reset' %}" class="btn btn-primary">Solicitar Nova Redefinição</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
