<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                        <td>{{ aluno.get_full_name }}</td>
                        <td>{{ aluno.email }}</td>
                        <td><span class="badge bg-{% if aluno.status == 'ATIVO' %}success{% elif aluno.status == 'PENDENTE' %}warning{% else %}danger{% endif %}">{{ aluno.get_status_display }}</span></td>
                        <td>
                            {% if aluno.status == 'ATIVO' %}
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-action-url="{% url 'professor_aluno_definir_tipo' aluno.id %}">
                                Promover a Professor
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum aluno encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'academia/partials/pagination.html' with page_obj=alunos %}
    </div>
</div>
